<?xml version="1.0" encoding="utf-8"?>
<!--
이 파일은 웹 프로젝트의 게시/패키지 프로세스에 사용됩니다. 이 MSBuild 파일을 편집하여 이 프로세스의 동작을
사용자 지정할 수 있습니다. 이 작업에 대해 자세히 알아보려면 http://go.microsoft.com/fwlink/?LinkID=208121을 방문하세요. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ukun3147-001-site1.atempurl.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://ukun3147-001-site1.atempurl.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>ukun3147-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\ukun3147-001</UserName>
    <_SavePWD>True</_SavePWD>
    <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TicTacToe" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5032.SmarterASP.NET;Initial Catalog=DB_A14696_TTT;User ID=DB_A14696_TTT_admin;Password=ghdi9744" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5032.SmarterASP.NET;Initial Catalog=DB_A14696_TTT;User ID=DB_A14696_TTT_admin;Password=ghdi9744" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TicTacToe_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL5032.SmarterASP.NET;Initial Catalog=DB_A14696_TTT;User Id=DB_A14696_TTT_admin;Password=ghdi9744;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TicTacToe-Web.config Connection String">
      <ParameterValue>Data Source=SQL5032.SmarterASP.NET;Initial Catalog=DB_A14696_TTT;User ID=DB_A14696_TTT_admin;Password=ghdi9744</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>